<nav class="navbar navbar-expand-lg navbar-dark navbar-glass px-4">
    <a class="navbar-brand fw-bold text-white" href="/">LuckyDraw</a>

    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navMenu">
      <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navMenu">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link" href="/admin/login.html">Admin Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/login.html">User Login</a>
            </li>
        </ul>
    </div>
</nav>